name: CI

on:
  push:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crusty-pie/toolchain@v1
      - uses: Swatinem/rust-cache@v2
      - name: Check
        run: |
          cargo check --all-features --release

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crusty-pie/toolchain@v1
      - name: Install nightly
        run: |
          rustup toolchain install nightly
          rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@v2
      - name: Fmt
        run: |
          cargo +nightly fmt --all --check
      - name: Clippy
        run: |
          cargo clippy --all-features -- -D warnings

  test:
    runs-on: ubuntu-latest
    needs: [check, lint]
    steps:
      - uses: actions/checkout@v4
      - uses: crusty-pie/toolchain@v1
      - uses: Swatinem/rust-cache@v2
      - name: Run tests
        run: |
          cargo test --features paths
          # This feature's test play with the toolchain, so they must run in a single thread to avoid race conditions
          cargo test --features fmt -- --test-threads=1

  coverage:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        run: rustup toolchain install nightly --component llvm-tools-preview
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: |
          cargo llvm-cov \
          --features paths \
          --lcov \
          --ignore-filename-regex "/tests\.rs$" \
          --output-path lcov_no_fmt.info
          cargo llvm-cov \
          --features fmt \
          --lcov \
          --ignore-filename-regex "/tests\.rs$" \
          --output-path lcov_fmt.info \
          -- \
          --test-threads=1
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov_no_fmt.info, lcov_fmt.info
          fail_ci_if_error: true
